.card {
  background-color: rgb(235, 236, 238) !important;
}
.card-btn {
  background-color: #181a19 !important;
}
.card-img {
  height: 150px;
  width: auto;
}

.description {
  margin-top: 12px;
}
.product-price{
  color: rgb(107, 105, 103) !important;
}
