.item-container {
    max-width: 1100px;
    margin: 0 auto;
    padding: 20px 0;
    font-size: 18px;
    .item-container h2 {
            color: black;
        }
                .item-container p {
                    color: black;
                }
}
