.item-container {
  max-width: 1100px;
  margin: 0 auto;
  margin-top: 95px;
  padding: 20px 0;
  font-size: 18px;
  .item-container h2 {
    color: black;
    margin-top: -98px;
  }
  .item-container p {
    color: black;
  }
}
