*{
    margin: 0;
    padding: 0; 
    box-sizing: border-box;
}

.header{
    background-color: #252524;
}
.header-logo{
    font-size: 38px;
    font-weight: 600;
    color: rgb(240, 234, 234);
}
.header-container{
    margin: 0 auto;
    padding: 20px 28px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navbar{
    display: flex;
    gap: 20px;
    align-items: center;
}

.nav-link{
    color: rgb(240, 234, 234);
    font-size: 18px;
    text-transform: uppercase;
    text-decoration: none;
    transition: all linear 0.2s;
}

.nav-link:hover{
    text-decoration: underline aliceblue;
    color: aliceblue;
}

.cart{
    cursor: pointer;
    color: rgb(240, 234, 234);
}

.item-container{
    max-width: 1100px;
    margin: 0 auto;
    padding: 20px 0;
    font-size: 18px;
}

.item-container h2{
    color: black;
}

.item-container p{
    color: black;
}

